$shadow-color: #dcd8d8;
$second-color: #7ca47c;

.custom-button {
  font-size: 13pt;
  font-family: "Poppins", serif;
  border-radius: 2rem 15px;
  background-color: #cbe5cb;
  border-style: hidden;
  box-shadow: 15px 20px 15px $shadow-color;

  &:hover {
    border-style: solid;
    border-color: $second-color;
  }
}
