$shadow-color: #dcd8d8;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  //pointer-events: fill;

  .modal-container {
    width: 500px;
    max-width: 80%;
    background-color: #fff;
    padding: 40px;
    box-shadow: 5px 5px 10px $shadow-color;
    border-radius: 12px;
    text-align: center;
    font-size: 13pt;
    font-family: "Poppins", serif;
    z-index: 99;
    .cancel-button {
      button {
        background-color: #ff6b6b;
        font-size: 16pt;
      }
    }
  }
}
