$second-color: #7ca47c;
$shadow-color: #dcd8d8;
$width-post-container: calc(90vw - 600px);

.bigPost-container {
  box-shadow: 5px 5px 10px $shadow-color;
  margin-bottom: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-right: auto;
  width: 90vw;
  margin-left: 0;
  display: grid;
  column-gap: 0;

  @media screen and (min-width: 701px) {
    grid-template-areas:
      "C C C C C C"
      "A B B B B B";
  }
  @media screen and (max-width: 700px) {
    box-shadow: 0 5px 5px $shadow-color;
    grid-template:
      "C"
      "A"
      "B";
  }
  .image {
    grid-area: A;
    @media screen and (min-width: 701px) {
      width: 500px;
      img {
        width: 500px;
        height: auto;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
          filter: brightness(80%);
        }
      }
    }
    @media screen and (max-width: 700px) {
      width: 100%;
      img {
        margin-left: auto;
        margin-right: auto;
        width: 85vw;
        height: auto;
        padding-right: 10px;
      }
    }
  }
  .post-container {
    grid-area: B;
    width: $width-post-container;
    margin-left: 50px;
    margin-bottom: auto;

    h2 {
      font-size: 30pt;
      font-weight: 700;
      font-style: italic;
      @media screen and (max-width: 700px) {
        font-size: 20pt;
      }
      &:hover {
        cursor: pointer;
        text-decoration: $second-color underline;
      }
    }
    p {
      display: flex;
      font-size: 18pt;
      font-family: "Arial", sans-serif;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      line-break: auto;
      hyphens: manual;

      @media screen and (max-width: 700px) {
        font-size: 12pt;
        padding-right: 10px;
      }
    }
    .userbar {
    }
    @media screen and (max-width: 700px) {
      width: 100%;
      margin-left: 5px;
    }
  }
  .icons {
    grid-area: C;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;

    .edit-button {
    }
    .delete-button {
    }
  }
}
