$second-color: #7ca47c;

.newestPost-container {
  margin-left: auto;
  margin-right: auto;

  display: grid;
  column-gap: 50px;
  grid-template-areas:
    "A A A A   B B B B"
    "A A A A   B B B B"
    "A A A A   B B B B";

  .image {
    grid-area: A;
    width: 500px;

    img {
      width: 500px;
      height: auto;
      cursor: pointer;
      &:hover {
        filter: brightness(80%);
      }
    }
  }
  .post-container {
    grid-area: B;
    width: 85%;
    margin-bottom: auto;
    h2 {
      font-size: 30pt;
      font-weight: 700;
      font-style: italic;

      &:hover {
        cursor: pointer;
        text-decoration: $second-color underline;
      }
    }
    p {
      font-size: 18pt;
      font-family: "Arial", sans-serif;
    }
    .userbar {
    }
  }
  .edit-button {
    margin: 0;
    height: 30px;
    width: 30px;
  }
}
