.posts-container {
  width: 90vw;
  display: grid;
  margin: 30px auto;
  grid-template-areas:
    "C"
    "A"
    "B";
  row-gap: 20px;
  @media screen and (max-width: 700px) {
    width: 80vw;
    margin: 20px 5px;
  }

  .newest-post {
    grid-area: A;
    width: 90vw;
  }
  .post-list {
    grid-area: B;
    width: 90vw;
    display: grid;
    //grid-template-columns: 40vw 40vw;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    grid-auto-flow: dense;
    grid-gap: 10px;
    //&:nth-child(1) {
    //  grid-column: span 2;
    //  grid-auto-flow: dense;
    //}

    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }
  .sort-container {
    grid-area: C;
    display: grid;
    grid-template-columns: 380px 130px 1fr;
    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
    }

    .search-bar {
      //grid-area: C;
      height: 50px;
      width: 370px;
      display: flex;
      @media screen and (max-width: 700px) {
        width: 80vw;
      }
    }

    .select-container {
      height: 30px;
      border-radius: 30px;
      margin: auto 0;
      padding-left: 5px;

      //max-width: 400px;
      //display: grid;
      //grid-template-columns: 1fr 1fr;
      //font-size: 12pt;
      //margin-top: -15px;
      //
      //@media screen and (max-width: 700px) {
      //  margin-top: 5px;
      //}
      //
      //.input-container {
      //  margin: 0 !important;
      //  grid-template-columns: max-content 1fr !important;
      //  .inputBox {
      //    padding: 0 5px !important;
      //    margin: 2px;
      //
      //    input {
      //      width: 15px !important;
      //      padding: 0;
      //      margin: 0;
      //    }
      //  }
      //}
    }
  }
}
