.postCard-container {
  cursor: pointer;
  padding: 0 10px;
  margin: 0 20px;
  display: grid;
  grid-template-areas:
    "C"
    "A"
    "B";
  @media screen and (max-width: 700px) {
    margin: 0;
    width: 100%;
  }

  &:hover {
    filter: brightness(90%);
    background: rgb(0, 0, 0, 0.05);
  }

  .image-container {
    grid-area: A;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    padding-top: 10px;

    img {
      position: relative;
      //width: 30vw;
      //height: auto;
      width: auto;
      max-height: 60vh;
      max-width: 30vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media screen and (max-width: 700px) {
        width: 90%;
      }
    }
  }
  .post-container {
    width: 95%;
    grid-area: B;
    margin-left: auto;
    margin-right: auto;

    h2 {
      font-size: 30pt;
      font-style: italic;
      @media screen and (max-width: 700px) {
        font-size: 20pt;
        font-weight: bold;
      }
    }
    p {
      font-size: 16pt;
      font-family: "Arial", sans-serif;
      @media screen and (max-width: 700px) {
        font-size: 12pt;
      }
    }
  }
  .buttons {
    height: 60px;
    grid-area: C;
  }
}
.card {
  width: 40vw;
}

.bigCard {
  width: 90vw;
}
