$shadow-color: #dcd8d8;
.edit-post-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  display: grid;
  column-gap: 10px;
  grid-template-areas: "A B B B   B B B B";
  @media screen and (max-width:700px) {
    width: 90vw;
    margin-left: 0;
    margin-right: 0;
  grid-template-areas: "A"
  "B";
  }
  .image-container {
    grid-area: A;
    @media screen and (max-width:700px) {
      width: 90vw;
    }
    img {
      margin-top: 20px;
      width: 30vw;
      height: auto;
      @media screen and (max-width:700px) {
      width: 90vw;
      }
      }
    .image {
      margin-left: 15%;
    }
  }
  .post-container {
    grid-area: B;
    margin: 0 30px;
    width: 60vw;
    @media screen and (max-width:700px) {
    width: 90vw;
      margin: 0;
    }
      textarea {
      padding: 10px 10px;
      width: 700px;
      overflow-y: scroll;
      border-radius: 15px;
      box-shadow: 15px 10px 15px $shadow-color;
      @media screen and (max-width:700px) {
        width: 80vw;
      }
    }
    textarea::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .headline {
      margin: 15px 0;
      textarea {
        font-size: 25pt;
        font-style: italic;
        height: 75px;
      }
    }
    .text {
      margin: 10px 0;
      textarea {
        font-size: 11pt;
        height: 100px;
      }
    }
  }
}
