//.userBar-container {
//  width: 80%;
//  height: 70px;
//  display: -webkit-box;
//
//  .image-container {
//    display: block;
//    img {
//      width: 60px;
//      height: 60px;
//      border-radius: 50%;
//    }
//  }
//  .user {
//    margin-left: 20px;
//    margin-top: 3px;
//
//    .name {
//      display: inline-block;
//      height: 10px;
//      font-size: 16pt;
//      margin-top: 0;
//    }
//    .text {
//      display: inline-block;
//      font-size: 15pt;
//    }
//    .date {
//      margin-top: 0;
//      display: inline-block;
//      height: 10px;
//      font-size: 15pt;
//      color: lightgrey;
//    }
//  }
//}
.userBar-container {
  width: 50%;
  height: 100px;
  display: grid;
  margin: 15px 10px;
  //grid-template-areas: "A  B B B B B B B B B B B B B B B B B B B B B B B B B B B B B B";
  grid-template-areas: "A  B";
  gap: 20px;
  .image-container {
    grid-area: A;
    display: block;
    margin-top: 15px;
    width: 100px;
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }
  .user {
    grid-area: B;
    width: auto;
    margin-left: 0;
    .name {
      font-size: 19pt;
      margin: 0;
      //margin: 0 auto 0 0;
    }
    .text {
      font-size: 18pt;
      margin: 0;
      //margin: 0 auto 0 0;
    }
    .date {
      margin: 0;
      font-size: 15pt;
      color: grey;
      //margin: 0 auto 0 0;
    }
  }
}
