.delete-button {
  margin: 0 0 0 auto;
  width: 150px;
  height: 40px;
  display: inline-flex;

  .hovering-text {
    //margin-left: 50px;
    //margin-top: -52px;
    padding: 10px;
    width: 200px;
    font-size: 15pt;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .button {
    padding: 10px 0;
    margin: 5px 15px 0 auto;
  }
}
