@import "src/utils/variables";

.sign-up-container {
  display: flex;
  width: 40vw;
  flex-direction: column;
  background-color: $form-bg-color;
  border-radius: 50px;
  padding: 30px 40px;
  margin: 50px auto;
  box-shadow: 15px 10px 15px $shadow-color;

  @media screen and (max-width: 700px) {
    width: 90vw;
    padding: 10px;
  }

  h2 {
    margin: 10px auto;
    font-size: x-large;
  }
  h3 {
    margin: 0 0 5px 5px;
    font-size: large;
  }
  .link {
    margin: 10px auto;
    width: fit-content;
    font-size: 13pt;
  }
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
  }
}
