$shadow-color: #dcd8d8;
$form-bg-color: #f6f2f2;

.sign-in-container {
  display: flex;
  width: 40vw;
  flex-direction: column;
  background-color: $form-bg-color;
  border-radius: 50px;
  padding: 30px 40px;
  margin: 50px auto;
  box-shadow: 15px 10px 15px $shadow-color;

  h2 {
    margin: 10px auto;
  }
  h3 {
    margin: 0 0 5px 5px;
    font-weight: normal;
  }
  .link {
    margin: 10px auto;
    width: fit-content;
  }
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
  }
}
