body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Cormorant Garamond",
    "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a:hover {
  color: #7ca47c !important;
}

/*textarea {*/
/*  padding: 10px 10px;*/
/*  overflow-y: scroll;*/
/*  border-radius: 15px;*/
/*}*/
